In [28]:
#curl -X GET "https://api.odcloud.kr/api/15096952/v1/uddi:548a642e-0c99-41e0-b45c-afb7368e73cb?
#page=1&perPage=10&
#serviceKey=9QJcKmLfZag2pqpAKguul6SFur5rfw0X5IO4rNzZHxoWY4HsUH2YKyb3zNJhV1z8mQRNDAXH5qFkqKD83U3Qrg%3D%3D" 
#-H  "accept: application/json" 
#-H  "Authorization: 9QJcKmLfZag2pqpAKguul6SFur5rfw0X5IO4rNzZHxoWY4HsUH2YKyb3zNJhV1z8mQRNDAXH5qFkqKD83U3Qrg=="

import requests

header_data= {
    'accept': 'application/json',
    'Authorization': '9QJcKmLfZag2pqpAKguul6SFur5rfw0X5IO4rNzZHxoWY4HsUH2YKyb3zNJhV1z8mQRNDAXH5qFkqKD83U3Qrg==',
}

param_data = (
    ('page', '1'),
    ('perPage', '32'),
    ('serviceKey', '9QJcKmLfZag2pqpAKguul6SFur5rfw0X5IO4rNzZHxoWY4HsUH2YKyb3zNJhV1z8mQRNDAXH5qFkqKD83U3Qrg=='),
)

url = 'https://api.odcloud.kr/api/15096952/v1/uddi:548a642e-0c99-41e0-b45c-afb7368e73cb?'
## decode key가 적용되었음.
## api마다 연결이 되지 않는다고 한다면, encode, decode를 바꾸어 테스트해볼 것.
response = requests.get(url, headers=header_data, params=param_data)
response

In [29]:
json_data = response.json()
json_data

{'currentCount': 16,
 'data': [{'시도': '제주', '여행 횟수(천회)': '681.03', '연도': 2018, '연령대': '15~19세'},
  {'시도': '제주', '여행 횟수(천회)': '2425.62', '연도': 2018, '연령대': '20대'},
  {'시도': '제주', '여행 횟수(천회)': '2793.06', '연도': 2018, '연령대': '30대'},
  {'시도': '제주', '여행 횟수(천회)': '3329.35', '연도': 2018, '연령대': '40대'},
  {'시도': '제주', '여행 횟수(천회)': '2617.75', '연도': 2018, '연령대': '50대'},
  {'시도': '제주', '여행 횟수(천회)': '1375.87', '연도': 2018, '연령대': '60대'},
  {'시도': '제주', '여행 횟수(천회)': '999.71', '연도': 2018, '연령대': '70세이상'},
  {'시도': '제주', '여행 횟수(천회)': '14222.39', '연도': 2018, '연령대': '전체'},
  {'시도': '제주', '여행 횟수(천회)': '380.03', '연도': 2019, '연령대': '15~19세'},
  {'시도': '제주', '여행 횟수(천회)': '2519.80', '연도': 2019, '연령대': '20대'},
  {'시도': '제주', '여행 횟수(천회)': '2685.78', '연도': 2019, '연령대': '30대'},
  {'시도': '제주', '여행 횟수(천회)': '2075.70', '연도': 2019, '연령대': '40대'},
  {'시도': '제주', '여행 횟수(천회)': '2870.27', '연도': 2019, '연령대': '50대'},
  {'시도': '제주', '여행 횟수(천회)': '1368.37', '연도': 2019, '연령대': '60대'},
  {'시도': '제주', '여행 횟수(천회)': '648.85', '연도': 2019, '연령대': '70세이상'},
  {'시도': '제주', '여행 횟수(천회)': '12548.79', '연도': 2019, '연령대': '전체'}],
 'matchCount': 16,
 'page': 1,
 'perPage': 32,
 'totalCount': 16}

In [30]:
import pickle

In [31]:
with open('trip-gokr.json','wb') as fp:#지금사용하고 있는 작업폴더 위치에 파일 생성.
    pickle.dump(json_data,fp)
#w인데bite로 저장해야해서 wb라고 써야함.

In [32]:
with open('trip-gokr.json','rb') as fp:
    json_read_data=pickle.load(fp)#일반 텍스트 파일이 아닐때는 rb라고 b를 붙여준다.읽어 올 때는load함수 써야함!!

In [33]:
type(json_read_data)#딕셔너리 타입이다.

dict

In [53]:
json_read_data

{'currentCount': 16,
 'data': [{'시도': '제주', '여행 횟수(천회)': '681.03', '연도': 2018, '연령대': '15~19세'},
  {'시도': '제주', '여행 횟수(천회)': '2425.62', '연도': 2018, '연령대': '20대'},
  {'시도': '제주', '여행 횟수(천회)': '2793.06', '연도': 2018, '연령대': '30대'},
  {'시도': '제주', '여행 횟수(천회)': '3329.35', '연도': 2018, '연령대': '40대'},
  {'시도': '제주', '여행 횟수(천회)': '2617.75', '연도': 2018, '연령대': '50대'},
  {'시도': '제주', '여행 횟수(천회)': '1375.87', '연도': 2018, '연령대': '60대'},
  {'시도': '제주', '여행 횟수(천회)': '999.71', '연도': 2018, '연령대': '70세이상'},
  {'시도': '제주', '여행 횟수(천회)': '14222.39', '연도': 2018, '연령대': '전체'},
  {'시도': '제주', '여행 횟수(천회)': '380.03', '연도': 2019, '연령대': '15~19세'},
  {'시도': '제주', '여행 횟수(천회)': '2519.80', '연도': 2019, '연령대': '20대'},
  {'시도': '제주', '여행 횟수(천회)': '2685.78', '연도': 2019, '연령대': '30대'},
  {'시도': '제주', '여행 횟수(천회)': '2075.70', '연도': 2019, '연령대': '40대'},
  {'시도': '제주', '여행 횟수(천회)': '2870.27', '연도': 2019, '연령대': '50대'},
  {'시도': '제주', '여행 횟수(천회)': '1368.37', '연도': 2019, '연령대': '60대'},
  {'시도': '제주', '여행 횟수(천회)': '648.85', '연도': 2019, '연령대': '70세이상'},
  {'시도': '제주', '여행 횟수(천회)': '12548.79', '연도': 2019, '연령대': '전체'}],
 'matchCount': 16,
 'page': 1,
 'perPage': 32,
 'totalCount': 16}

In [35]:
json_data['currentCount']

16

In [36]:
json_data['data']

[{'시도': '제주', '여행 횟수(천회)': '681.03', '연도': 2018, '연령대': '15~19세'},
 {'시도': '제주', '여행 횟수(천회)': '2425.62', '연도': 2018, '연령대': '20대'},
 {'시도': '제주', '여행 횟수(천회)': '2793.06', '연도': 2018, '연령대': '30대'},
 {'시도': '제주', '여행 횟수(천회)': '3329.35', '연도': 2018, '연령대': '40대'},
 {'시도': '제주', '여행 횟수(천회)': '2617.75', '연도': 2018, '연령대': '50대'},
 {'시도': '제주', '여행 횟수(천회)': '1375.87', '연도': 2018, '연령대': '60대'},
 {'시도': '제주', '여행 횟수(천회)': '999.71', '연도': 2018, '연령대': '70세이상'},
 {'시도': '제주', '여행 횟수(천회)': '14222.39', '연도': 2018, '연령대': '전체'},
 {'시도': '제주', '여행 횟수(천회)': '380.03', '연도': 2019, '연령대': '15~19세'},
 {'시도': '제주', '여행 횟수(천회)': '2519.80', '연도': 2019, '연령대': '20대'},
 {'시도': '제주', '여행 횟수(천회)': '2685.78', '연도': 2019, '연령대': '30대'},
 {'시도': '제주', '여행 횟수(천회)': '2075.70', '연도': 2019, '연령대': '40대'},
 {'시도': '제주', '여행 횟수(천회)': '2870.27', '연도': 2019, '연령대': '50대'},
 {'시도': '제주', '여행 횟수(천회)': '1368.37', '연도': 2019, '연령대': '60대'},
 {'시도': '제주', '여행 횟수(천회)': '648.85', '연도': 2019, '연령대': '70세이상'},
 {'시도': '제주', '여행 횟수(천회)': '12548.79', '연도': 2019, '연령대': '전체'}]

In [37]:
data_Values = json_data.get('data')#
data_Values

[{'시도': '제주', '여행 횟수(천회)': '681.03', '연도': 2018, '연령대': '15~19세'},
 {'시도': '제주', '여행 횟수(천회)': '2425.62', '연도': 2018, '연령대': '20대'},
 {'시도': '제주', '여행 횟수(천회)': '2793.06', '연도': 2018, '연령대': '30대'},
 {'시도': '제주', '여행 횟수(천회)': '3329.35', '연도': 2018, '연령대': '40대'},
 {'시도': '제주', '여행 횟수(천회)': '2617.75', '연도': 2018, '연령대': '50대'},
 {'시도': '제주', '여행 횟수(천회)': '1375.87', '연도': 2018, '연령대': '60대'},
 {'시도': '제주', '여행 횟수(천회)': '999.71', '연도': 2018, '연령대': '70세이상'},
 {'시도': '제주', '여행 횟수(천회)': '14222.39', '연도': 2018, '연령대': '전체'},
 {'시도': '제주', '여행 횟수(천회)': '380.03', '연도': 2019, '연령대': '15~19세'},
 {'시도': '제주', '여행 횟수(천회)': '2519.80', '연도': 2019, '연령대': '20대'},
 {'시도': '제주', '여행 횟수(천회)': '2685.78', '연도': 2019, '연령대': '30대'},
 {'시도': '제주', '여행 횟수(천회)': '2075.70', '연도': 2019, '연령대': '40대'},
 {'시도': '제주', '여행 횟수(천회)': '2870.27', '연도': 2019, '연령대': '50대'},
 {'시도': '제주', '여행 횟수(천회)': '1368.37', '연도': 2019, '연령대': '60대'},
 {'시도': '제주', '여행 횟수(천회)': '648.85', '연도': 2019, '연령대': '70세이상'},
 {'시도': '제주', '여행 횟수(천회)': '12548.79', '연도': 2019, '연령대': '전체'}]

In [56]:
for i in range(len(data_Values)):
    data_Values[i]['연도'] = str(data_Values[0]['연도'])
data_Values

[{'시도': '제주', '여행 횟수(천회)': '681.03', '연도': '2018', '연령대': '15~19세'},
 {'시도': '제주', '여행 횟수(천회)': '2425.62', '연도': '2018', '연령대': '20대'},
 {'시도': '제주', '여행 횟수(천회)': '2793.06', '연도': '2018', '연령대': '30대'},
 {'시도': '제주', '여행 횟수(천회)': '3329.35', '연도': '2018', '연령대': '40대'},
 {'시도': '제주', '여행 횟수(천회)': '2617.75', '연도': '2018', '연령대': '50대'},
 {'시도': '제주', '여행 횟수(천회)': '1375.87', '연도': '2018', '연령대': '60대'},
 {'시도': '제주', '여행 횟수(천회)': '999.71', '연도': '2018', '연령대': '70세이상'},
 {'시도': '제주', '여행 횟수(천회)': '14222.39', '연도': '2018', '연령대': '전체'},
 {'시도': '제주', '여행 횟수(천회)': '380.03', '연도': '2018', '연령대': '15~19세'},
 {'시도': '제주', '여행 횟수(천회)': '2519.80', '연도': '2018', '연령대': '20대'},
 {'시도': '제주', '여행 횟수(천회)': '2685.78', '연도': '2018', '연령대': '30대'},
 {'시도': '제주', '여행 횟수(천회)': '2075.70', '연도': '2018', '연령대': '40대'},
 {'시도': '제주', '여행 횟수(천회)': '2870.27', '연도': '2018', '연령대': '50대'},
 {'시도': '제주', '여행 횟수(천회)': '1368.37', '연도': '2018', '연령대': '60대'},
 {'시도': '제주', '여행 횟수(천회)': '648.85', '연도': '2018', '연령대': '70세이상'},
 {'시도': '제주', '여행 횟수(천회)': '12548.79', '연도': '2018', '연령대': '전체'}]

In [62]:
type(data_Values)

list

In [63]:
data_Values[0]

{'시도': '제주', '여행 횟수(천회)': '681.03', '연도': '2018', '연령대': '15~19세'}

In [64]:
tr = data_Values[0]['여행 횟수(천회)']#0번 인덱스에 키가 언론사인거
tr

'681.03'

In [65]:
date = data_Values[0]['연도']#0번 인덱스에 키가 언론사인거
date

'2018'

In [66]:
age = data_Values[0]['연령대']
age

'15~19세'

In [69]:
one_row = []

one_row.append(date)
one_row.append(age)
one_row.append(tr)
one_row

['2018', '15~19세', '681.03']

In [73]:
total_row = []
for num in range(len(data_Values)):
    data_Values[num]['여행 횟수(천회)']
    data_Values[num]['연도']
    data_Values[num]['연령대']
    one_row = []

    one_row.append(str(date))
    one_row.append(age)
    one_row.append(tr)
    one_row
    total_row.append(one_row)
    print(total_row)

[['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]
[['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03'], ['2018', '15~19세', '681.03']]

In [74]:
with open('trip-sub-data.json','wb') as fp:
    pickle.dump(total_row,fp)

In [75]:
with open('trip-sub-data.json','rb') as fp:
    json_sub_data = pickle.load(fp)
json_sub_data

[['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03'],
 ['2018', '15~19세', '681.03']]

In [76]:
import pandas as pd
import numpy as np

In [77]:
with open('trip-sub-data-dic.json','wb') as fp:
    pickle.dump(data_Values,fp)

In [78]:
with open('trip-sub-data-dic.json','rb') as fp:
    json_sub_data_dic = pickle.load(fp)
json_sub_data_dic
#딕셔너리의 리스트

[{'시도': '제주', '여행 횟수(천회)': '681.03', '연도': '2018', '연령대': '15~19세'},
 {'시도': '제주', '여행 횟수(천회)': '2425.62', '연도': '2018', '연령대': '20대'},
 {'시도': '제주', '여행 횟수(천회)': '2793.06', '연도': '2018', '연령대': '30대'},
 {'시도': '제주', '여행 횟수(천회)': '3329.35', '연도': '2018', '연령대': '40대'},
 {'시도': '제주', '여행 횟수(천회)': '2617.75', '연도': '2018', '연령대': '50대'},
 {'시도': '제주', '여행 횟수(천회)': '1375.87', '연도': '2018', '연령대': '60대'},
 {'시도': '제주', '여행 횟수(천회)': '999.71', '연도': '2018', '연령대': '70세이상'},
 {'시도': '제주', '여행 횟수(천회)': '14222.39', '연도': '2018', '연령대': '전체'},
 {'시도': '제주', '여행 횟수(천회)': '380.03', '연도': '2018', '연령대': '15~19세'},
 {'시도': '제주', '여행 횟수(천회)': '2519.80', '연도': '2018', '연령대': '20대'},
 {'시도': '제주', '여행 횟수(천회)': '2685.78', '연도': '2018', '연령대': '30대'},
 {'시도': '제주', '여행 횟수(천회)': '2075.70', '연도': '2018', '연령대': '40대'},
 {'시도': '제주', '여행 횟수(천회)': '2870.27', '연도': '2018', '연령대': '50대'},
 {'시도': '제주', '여행 횟수(천회)': '1368.37', '연도': '2018', '연령대': '60대'},
 {'시도': '제주', '여행 횟수(천회)': '648.85', '연도': '2018', '연령대': '70세이상'},
 {'시도': '제주', '여행 횟수(천회)': '12548.79', '연도': '2018', '연령대': '전체'}]

In [79]:
df_test = pd.DataFrame(json_sub_data_dic)#[dic, dic, dic]은(딕셔너리의 리스트)를 데이터프레임으로 읽으면 아래와 같다.
df_test

    시도 여행 횟수(천회)    연도     연령대
0   제주    681.03  2018  15~19세
1   제주   2425.62  2018     20대
2   제주   2793.06  2018     30대
3   제주   3329.35  2018     40대
4   제주   2617.75  2018     50대
5   제주   1375.87  2018     60대
6   제주    999.71  2018   70세이상
7   제주  14222.39  2018      전체
8   제주    380.03  2018  15~19세
9   제주   2519.80  2018     20대
10  제주   2685.78  2018     30대
11  제주   2075.70  2018     40대
12  제주   2870.27  2018     50대
13  제주   1368.37  2018     60대
14  제주    648.85  2018   70세이상
15  제주  12548.79  2018      전체

In [80]:
df_test.info()#object라서 다 스트링인 것을 알  수 있따.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도         16 non-null     object
 1   여행 횟수(천회)  16 non-null     object
 2   연도         16 non-null     object
 3   연령대        16 non-null     object
dtypes: object(4)
memory usage: 640.0+ bytes

In [81]:
df_test.drop(columns=['시도'],inplace=True)
df_test[:2]#2행까지만 찍어봄.

  여행 횟수(천회)    연도     연령대
0    681.03  2018  15~19세
1   2425.62  2018     20대

In [83]:
print("2018~2019년 제주도 나이대 여행수 현황")
df_test

2018~2019년 제주도 나이대 여행수 현황

   여행 횟수(천회)    연도     연령대
0     681.03  2018  15~19세
1    2425.62  2018     20대
2    2793.06  2018     30대
3    3329.35  2018     40대
4    2617.75  2018     50대
5    1375.87  2018     60대
6     999.71  2018   70세이상
7   14222.39  2018      전체
8     380.03  2018  15~19세
9    2519.80  2018     20대
10   2685.78  2018     30대
11   2075.70  2018     40대
12   2870.27  2018     50대
13   1368.37  2018     60대
14    648.85  2018   70세이상
15  12548.79  2018      전체