In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings(action='ignore')#임포트 해주면 그래프 그릴때 무시해도 되는 오류 안뜸!

In [48]:
#2018~2020.4월까지 인터넷 이용자 비율을 나이로 구분한 데이터
onlineData = pd.read_excel('../csv-data/인터넷_쇼핑_성_연령별__20220327012037.xlsx')
onlineData.head(11)
# #행과 열을 한정해서 일부만 가져와보자.
# onlineData = pd.read_excel('cctv_data_collect/pop_seoul.xls',
#                          header = 2,
#                          usecols='B,D,G,J,N'
#                          )
# onlineData.head()#header = 2 번 인덱스 행부터 가져옴.

,성별(1),연령별(1),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2020,2020.1,2020.2,2020.3,2020.4,2020.5
0,성별(1),연령별(1),인터넷 쇼핑 이용자 비율 (%),월 평균 구매빈도-1회 미만 (%),월 평균 구매빈도-1~2회 미만 (%),월 평균 구매빈도-2~3회 미만 (%),월 평균 구매빈도-3회 이상 (%),월 평균 구매빈도-평균 (회),인터넷 쇼핑 이용자 비율 (%),월 평균 구매빈도-1회 미만 (%),월 평균 구매빈도-1~2회 미만 (%),월 평균 구매빈도-2~3회 미만 (%),월 평균 구매빈도-3회 이상 (%),월 평균 구매빈도-평균 (회),인터넷 쇼핑 이용자 비율 (%),월 평균 구매빈도-1회 미만 (%),월 평균 구매빈도-1~2회 미만 (%),월 평균 구매빈도-2~3회 미만 (%),월 평균 구매빈도-3회 이상 (%),월 평균 구매빈도-평균 (회)
1,전체,전체,62.0,15.3,20.5,19.9,44.3,3.0,64.1,23.5,16.7,20.4,39.3,3.3,69.9,11.5,16.7,17.9,53.9,5.0
2,NaN,12-19세,55.7,16.1,21.7,15.5,46.7,2.6,63.3,21.1,12.5,29.0,37.4,2.8,57.7,13.8,18.8,15.4,52.0,4.0
3,NaN,20대,96.4,12.1,19.6,22.4,45.9,3.1,96.9,20.9,19.8,17.2,42.2,3.5,94.7,10.6,16.4,18.3,54.7,5.2
4,NaN,30대,91.3,12.6,19.1,21.9,46.4,3.3,92.4,19.7,17.8,21.7,40.8,3.3,93.8,8.8,13.7,18.3,59.2,5.7
5,NaN,40대,71.4,16.2,21.0,20.2,42.6,3.1,71.6,26.1,15.3,19.2,39.4,3.4,86.3,11.6,16.8,17.4,54.2,5.3
6,NaN,50대,40.0,23.1,23.0,16.2,37.7,2.7,44.1,28.6,15.9,19.8,35.7,3.1,60.2,15.1,19.1,18.8,47.0,4.0
7,NaN,60대,17.5,22.3,23.8,12.6,41.4,3.0,20.8,34.9,12.7,21.4,31.0,2.9,31.4,12.9,18.7,19.1,49.3,4.0
8,NaN,70세 이상,11.2,10.6,10.7,9.3,69.4,3.3,15.4,33.2,13.7,21.3,31.7,2.7,14.7,4.7,15.7,7.6,72.0,3.9
9,여자,전체,63.8,14.1,19.4,20.3,46.2,3.2,65.0,22.7,14.6,18.9,43.7,3.6,71.8,9.8,15.0,17.9,57.3,5.2
10,NaN,12-19세,59.0,14.4,19.8,16.3,49.4,2.6,64.7,23.5,13.0,27.2,36.3,2.9,59.9,15.0,17.3,16.8,50.9,3.9

#년도별로 짤라서 전체 구매율의 빈도, 월별 비율을 보고,쇼핑몰 창업이 괜찮은지 그래프 그려보기.
#년도별 나이에 대한 이용자 비율을 그래프로 그려보기.
#어느 나이대가 구매 빈도가 높은지 나이별로 그래프 그려보기.
#이용자 비울에 대한 구매율이 나이대로 어떤지 그래프 그려보기.
#월 별, 구매율이 높은 달이 있는지 그래프로 그려보기.

In [49]:
onlineData_2018 = onlineData.iloc[:,:8]
onlineData_2018.head()

,성별(1),연령별(1),2018,2018.1,2018.2,2018.3,2018.4,2018.5
0,성별(1),연령별(1),인터넷 쇼핑 이용자 비율 (%),월 평균 구매빈도-1회 미만 (%),월 평균 구매빈도-1~2회 미만 (%),월 평균 구매빈도-2~3회 미만 (%),월 평균 구매빈도-3회 이상 (%),월 평균 구매빈도-평균 (회)
1,전체,전체,62.0,15.3,20.5,19.9,44.3,3.0
2,NaN,12-19세,55.7,16.1,21.7,15.5,46.7,2.6
3,NaN,20대,96.4,12.1,19.6,22.4,45.9,3.1
4,NaN,30대,91.3,12.6,19.1,21.9,46.4,3.3

In [50]:
onlineData_2018.drop(columns=['성별(1)','연령별(1)'],inplace=True)
onlineData_2018.tail()

    2018 2018.1 2018.2 2018.3 2018.4 2018.5
20  86.3   14.6   21.3   22.4   41.7    2.9
21  66.8   17.1   23.2   20.0   39.7    2.9
22  39.0   23.5   21.2   14.6   40.7    2.5
23  20.3   20.8   21.4   12.3   45.4    3.2
24  13.8   11.4   10.5    8.3   69.8    3.6

In [51]:
onlineData_2018.drop(columns=['2018'],inplace=True)#구매비율만 컬럼에 넣음.
onlineData_2018.tail()

   2018.1 2018.2 2018.3 2018.4 2018.5
20   14.6   21.3   22.4   41.7    2.9
21   17.1   23.2   20.0   39.7    2.9
22   23.5   21.2   14.6   40.7    2.5
23   20.8   21.4   12.3   45.4    3.2
24   11.4   10.5    8.3   69.8    3.6

In [52]:
onlineData_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2018.1  25 non-null     object
 1   2018.2  25 non-null     object
 2   2018.3  25 non-null     object
 3   2018.4  25 non-null     object
 4   2018.5  25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [53]:
onlineData_2018

,2018.1,2018.2,2018.3,2018.4,2018.5
0,월 평균 구매빈도-1회 미만 (%),월 평균 구매빈도-1~2회 미만 (%),월 평균 구매빈도-2~3회 미만 (%),월 평균 구매빈도-3회 이상 (%),월 평균 구매빈도-평균 (회)
1,15.3,20.5,19.9,44.3,3.0
2,16.1,21.7,15.5,46.7,2.6
3,12.1,19.6,22.4,45.9,3.1
4,12.6,19.1,21.9,46.4,3.3
5,16.2,21.0,20.2,42.6,3.1
6,23.1,23.0,16.2,37.7,2.7
7,22.3,23.8,12.6,41.4,3.0
8,10.6,10.7,9.3,69.4,3.3
9,14.1,19.4,20.3,46.2,3.2
10,14.4,19.8,16.3,49.4,2.6
11,10.9,18.6,22.8,47.7,3.3
12,10.7,17.0,21.4,50.9,3.6
13,15.3,19.0,20.5,45.2,3.2
14,22.6,24.8,17.7,34.9,2.9
15,24.4,27.1,12.9,35.5,2.7
16,9.4,10.9,10.8,68.9,2.9
17,16.4,21.6,19.6,42.4,2.8
18,17.8,23.6,14.7,43.9,2.6
19,13.2,20.4,22.1,44.2,2.9
20,14.6,21.3,22.4,41.7,2.9
21,17.1,23.2,20.0,39.7,2.9
22,23.5,21.2,14.6,40.7,2.5
23,20.8,21.4,12.3,45.4,3.2
24,11.4,10.5,8.3,69.8,3.6

In [54]:
onlineData_2018.isnull().sum()#데이터에 빈 값이 있는지 확인.

2018.1    0
2018.2    0
2018.3    0
2018.4    0
2018.5    0
dtype: int64

In [55]:
onlineData_2018.head()

,2018.1,2018.2,2018.3,2018.4,2018.5
0,월 평균 구매빈도-1회 미만 (%),월 평균 구매빈도-1~2회 미만 (%),월 평균 구매빈도-2~3회 미만 (%),월 평균 구매빈도-3회 이상 (%),월 평균 구매빈도-평균 (회)
1,15.3,20.5,19.9,44.3,3.0
2,16.1,21.7,15.5,46.7,2.6
3,12.1,19.6,22.4,45.9,3.1
4,12.6,19.1,21.9,46.4,3.3

In [56]:
onlineData_2018.drop(index=[0],inplace=True)
onlineData_2018.head()

  2018.1 2018.2 2018.3 2018.4 2018.5
1   15.3   20.5   19.9   44.3    3.0
2   16.1   21.7   15.5   46.7    2.6
3   12.1   19.6   22.4   45.9    3.1
4   12.6   19.1   21.9   46.4    3.3
5   16.2   21.0   20.2   42.6    3.1

In [57]:
onlineData_2018.astype('float')
onlineData_2018.head()

  2018.1 2018.2 2018.3 2018.4 2018.5
1   15.3   20.5   19.9   44.3    3.0
2   16.1   21.7   15.5   46.7    2.6
3   12.1   19.6   22.4   45.9    3.1
4   12.6   19.1   21.9   46.4    3.3
5   16.2   21.0   20.2   42.6    3.1

In [76]:
onlineData_2018.rename(columns={'2018.1':'구매빈도 1회미만','2018.2':'구매빈도 1~2회미만','2018.3':'구매빈도 2~3회미만',
                                '2018.4':'구매빈도 3회이상','2018.5':'2018년 월평균 구매빈도'},inplace=True)
onlineData_2018

   구매빈도 1회미만 2018.2 2018.3 2018.4 2018.5
2       16.1   21.7   15.5   46.7    2.6
3       12.1   19.6   22.4   45.9    3.1
4       12.6   19.1   21.9   46.4    3.3
5       16.2   21.0   20.2   42.6    3.1
6       23.1   23.0   16.2   37.7    2.7
7       22.3   23.8   12.6   41.4    3.0
8       10.6   10.7    9.3   69.4    3.3
9       14.1   19.4   20.3   46.2    3.2
10      14.4   19.8   16.3   49.4    2.6
11      10.9   18.6   22.8   47.7    3.3
12      10.7   17.0   21.4   50.9    3.6
13      15.3   19.0   20.5   45.2    3.2
14      22.6   24.8   17.7   34.9    2.9
15      24.4   27.1   12.9   35.5    2.7
16       9.4   10.9   10.8   68.9    2.9
17      16.4   21.6   19.6   42.4    2.8
18      17.8   23.6   14.7   43.9    2.6
19      13.2   20.4   22.1   44.2    2.9
20      14.6   21.3   22.4   41.7    2.9
21      17.1   23.2   20.0   39.7    2.9
22      23.5   21.2   14.6   40.7    2.5
23      20.8   21.4   12.3   45.4    3.2
24      11.4   10.5    8.3   69.8    3.6

In [58]:
#각 월에 대한 구매율의 평균을 df로 표현해보자.
#구매율과 구매비율의 월에 따른 상관도를 그려보자.
onlineData_20181 = onlineData_2018['2018.1'].sum()
onlineData_20181

384.90000000000003

In [59]:
onlineData_2018['2018.2'].value_counts().sum()

24

In [60]:
onlineData_2018['2018.3'].value_counts().mean()

1.0434782608695652

In [61]:
onlineData_2018['2018.4'].mean()

46.70416666666667